---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Mi sitio Astro Test</h1>
		<h2>... ¡Y mi nuevo sitio Astro!</h2>
		<p>Estoy trabajando en el tutorial introductorio de astro. Esta es la segunda página de mi web</p>
		<p>Este sitio se irá actualizando a medida que vaya completando mas partes del tutorial</p>
		<a href="/">Inicio</a>
		<a href="/blog">Blog</a>
	</body>
</html>
