---
import Social from './Social.astro'

const platform = 'github';
const username = 'alvaroant';
---

<footer>
	<p>¡Más información sobre mis proyectos en <Social platform='github' username='alvaroant'/> !</p>	
	<p>Informacion sobre mi <Social platform='instagram' username='alvaroantonvi'/></p>
</footer>

<style> 
	footer {
		display: flex;
		gap: 1rem;
		margin-top: 2rem;
	}
</style>